---
title: About
---
<article class="container">

  <h2>
    {{ package.name }}
    <small>{{ package.version }}</small>
  </h2>

  <p class="lead">{{ package.description }}</p>

  <p>
    <a href="{{ package.homepage }}">{{ package.homepage }}</a>
  </p>

</article>
